---
import ComponentsLayout from '../../../widgets/components/ui/ComponentsLayout.astro'
import iconSrc from '@camina/heroicon-sprite/heroicon-outline.svg'
import './heroicon.css'
---
<script>
import "@camina/web-components"
</script>
<ComponentsLayout title="Иконки" component="heroicon">
    <div class="heroicon-component">
        <camina-heroicon class="component" src={iconSrc} name="heart" />
    </div>
</ComponentsLayout>