---
import ComponentsLayout from '../../../widgets/components/ui/ComponentsLayout.astro';
---
<script>
import "@camina/web-components"
</script>
<ComponentsLayout title="Типографика" component="typography">
  <span class="camina-text camina-text-xxxl">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xxl">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xl">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-l">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-m">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-s">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xs">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xxs">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xxxs">The quick brown fox jumps over the lazy dog</span>
  <span class="camina-text camina-text-xxxxs">The quick brown fox jumps over the lazy dog</span>
</ComponentsLayout>
