---
import GeneralLayout from '../../general/ui/GeneralLayout.astro'
import iconSrc from '@camina/heroicon-sprite/heroicon-solid.svg'
import './DocsLayout.css'
import "@camina/web-components"

const { title } = Astro.props;
---
<GeneralLayout title={title}>
    <a class="docs-navigation" href="/docs/components">   
        <camina-heroicon class="docs-navigation__button" src={iconSrc} name="squares-2x2" />     
    </a>
    <div class="docs-body">
        <slot />    
    </div>
</GeneralLayout>

