.docs-navigation__button {
    width: 1.5em;
    height: 1.5em;
    color: var(--sand-900);
    fill: currentColor;
    padding: 1.25em;
    cursor: pointer;
    display: block;
}

.docs-body {
    padding: 1.5em;
    color: var(--sand-900);
}

.docs-body table {
    border-spacing: 1em;
    border-collapse: separate;
}

.docs-body .astro-code {
    padding: 0.5em;
}

.docs-body .astro-code *, .docs-body .astro-code, .docs-body code {
    color: var(--sand-11000) !important;
    background-color: var(--nero-75) !important;
}
