---
const { title } = Astro.props;
import './GeneralLayout.css'
import '../../../app/general.css'

import '@camina/web-components/style/components.css';
---
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | camina</title>
		<script>
            import "@camina/web-components";
    </script>
	</head>
	<body class="camina-page">
	    <slot />
	</body>
</html>
