---                          
const { title } = Astro.props;
import './GeneralLayout.css'
import '../../../app/general.css'
---
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>{title} | camina</title>
	</head>
	<body class="camina-page">
	    <slot />    	  
	</body>
</html>
