---
import DocsLayout from '../widgets/docs/ui/DocsLayout.astro'
import { reference, gradient } from '../shared/color'
import { formatRgb, filterContrast, formatRgb, formatCss  } from 'culori'

const test = gradient('rgb(34, 22, 0)', 'dark', 'brand');
---
<script>

</script>
<style type="text/css">
.color-example {
    display: flex;
    flex-direction: row;
}
.color-example li div {
    display: inline-block;
    width: 20px;
    height: 20px;
}
</style>
<DocsLayout title="Начало работы">
<div class="color-example">
    <ul class="color-reference">
        {Object.keys(reference.dark.brand).map(k => <li class="color-palette"><div style={`background-color: ${formatRgb(reference.dark.brand[k])}`}></div> {k}</li>)}
    </ul> 
    <ul class="color-reference">
        {Object.keys(test).map(k => <li class="color-palette"><div style={`background-color: ${formatRgb (test[k])}`}></div> {formatCss(test[k])}</li>)}
    </ul> 
</div>
</DocsLayout>