---
import '../app/general.css'
import '@camina/web-components/style/components.css';
---
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>camina</title>
		<style>
		    .landing-page {
		        background-color: var(--nero-50);
		        height: 100vh;
		        display: flex;
                flex-direction: column;
		    }

		    .landing-content {
		        height: 100%;
		        display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

		    .landing-button {
		            outline: transparent;
                font-size: 0.88em;
                font-weight: 400;
                border: none;
                border-radius: 0em;
                box-sizing: border-box;
                cursor: pointer;
                padding: 0.76em 0.5em;
                text-decoration: none;
                text-align: center;
                min-width: 2.5em;
                user-select: none;
                background-color: transparent;
                color: var(--sand-900);
		    }

		    .landing-button:hover {
		        background-color: var(--nero-75);
		    }

		    .landing-navigation {
		        display: flex;
		        flex-direction: row;
		        padding: 2em;
		    }

		    .landing-navigation__item {
		        list-style: none;
		        padding: 0 2em;
		    }

		    .landing-header {
		        font-size: 7em;
                color: var(--orange-900);
		    }
		</style>
	</head>
	<body class="landing-page">
	    <nav class="landing-navigation">
	        <li class="landing-navigation__item"><a class="camina-text" href="/docs">Документация</a></li>
	        <li class="landing-navigation__item"><a class="camina-text" href="https://github.com/madpo/camina">GitHub</a></li>
	    </nav>
	    <div class="landing-content">
	        <h1 class="camina-text camina-text-heading camina-text-xxxl">camina</h1>
	        <a class="camina-text" href="/docs">Начало работы</a>
	    </div>
	</body>
</html>
