<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>camina</title>
		<style>
		    @import-sanitize;
            
            @font-face {
                src: url('/fonts/JetBrainsMono.ttf') format('woff2-variations');
                font-family: 'JetBrainsMono';
                font-weight: 100 900;
            }
            
            :root {
                --dark-default: hsl(0 0% 9%);
                --dark-lighter: hsl(0 0% 13%);
                --dark-light: hsl(0 0% 17%);
                
                --emerald-default: hsl(154 33% 30%);
                --orange-default: hsl(10 61% 49%);
                --sand-default: hsl(40 57% 83%);
                /* 1em = 16px  
               font-size: 16px; */
            }
            
            * {
                font-family: 'JetBrains Mono', monospace;
            }
                    
		    .landing-page {
		        background-color: var(--dark-default);
		        height: 100vh;
		        display: flex;
                flex-direction: column;
		    }
		    
		    .landing-content {
		        height: 100%;
		        display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
		    
		    .landing-button {
		        outline: transparent;
                font-size: 0.88em;
                font-weight: 400;
                border: none;
                border-radius: 0em;
                box-sizing: border-box;
                cursor: pointer;
                padding: 0.76em 0.5em;
                text-decoration: none;
                text-align: center;
                min-width: 2.5em;
                user-select: none;
                background-color: transparent;
                color: var(--sand-default);
		    }
		    
		    .landing-button:hover {
		        background-color: var(--dark-lighter);
		    }
		    
		    .landing-navigation {
		        display: flex;
		        flex-direction: row;
		        padding: 2em;
		    }
		    
		    .landing-navigation__item {
		        list-style: none;
		    }
		    
		    .landing-navigation__item .landing-button {
		        color: var(--sand-default);
		    }	
		    
		    .landing-header {
		        font-size: 10em;
                color: var(--orange-default); 
		    }		  	
		</style>
	</head>
	<body class="landing-page">
	    <nav class="landing-navigation">
	        <li class="landing-navigation__item"><a class="landing-button" href="/docs">Документация</a></li>    
	        <li class="landing-navigation__item"><a class="landing-button" href="https://github.com/madpo/camina">GitHub</a></li>    
	    </nav>
	    <div class="landing-content">
	        <h1 class="landing-header">camina</h1>
	        <a class="landing-button get-started" href="/docs">Начало работы</a>
	    </div>	  
	</body>
</html>
