@import-sanitize;

@font-face {
    src: url('/fonts/JetBrainsMono.ttf') format('woff2-variations');
    font-family: 'JetBrainsMono';
    font-weight: 100 900;
}

:root {
/*    nero:       #161616
    emerald:    #346751
    orange:     #C84B31
    sand:       #ECDBBA */

    --nero-50: oklch(0.11380754615294464% 0 0);
    --nero-75: oklch(0.1516753545576468% 0 0);
    --nero-100: oklch(0.20019308709601014% 0 0);
    --nero-200: oklch(0.25073813225763497% 0 0);
    --nero-300: oklch(0.328954916580988% 0 0);
    --nero-400: oklch(0.4282262016751975% 0 0);
    --nero-500: oklch(0.5364080254027312% 0 0);
    --nero-600: oklch(0.6466327884076151% 0 0);
    --nero-700: oklch(0.7437509764436124% 0 0);
    --nero-800: oklch(0.8231271889714137% 0 0);
    --nero-900: oklch(0.8830570727999302% 0 0);

    --emerald-100: oklch(0.520219390993026 0.06639200753460127 163.86839225792303);
    --emerald-200: oklch(0.5582066346261645 0.06639200753460127 163.86839225792303);
    --emerald-300: oklch(0.6075160003493425 0.06639200753460127 163.86839225792303);
    --emerald-400: oklch(0.6586866118041657 0.06639200753460127 163.86839225792303);
    --emerald-500: oklch(0.7140271034277226 0.06639200753460127 163.86839225792303);
    --emerald-600: oklch(0.7691397737164305 0.06639200753460127 163.86839225792303);
    --emerald-700: oklch(0.8230202089188057 0.06639200753460127 163.86839225792303);
    --emerald-800: oklch(0.876890656283402 0.06639200753460127 163.86839225792303);
    --emerald-900: oklch(0.931043120919766 0.06639200753460127 163.86839225792303);
    --emerald-1000: oklch(0.9831694258262187 0.06639200753460127 163.86839225792303);
    --emerald-1100: oklch(1.0345540496699948 0.06639200753460127 163.86839225792303);
    --emerald-1200: oklch(1.0804663257009341 0.06639200753460127 163.86839225792303);
    --emerald-1300: oklch(1.1224896679211092 0.06639200753460127 163.86839225792303);

    --orange-100: oklch(0.6270438708470972 0.16470601574762447 33.504302783436955);
    --orange-200: oklch(0.6650311144802357 0.16470601574762447 33.504302783436955);
    --orange-300: oklch(0.7143404802034137 0.16470601574762447 33.504302783436955);
    --orange-400: oklch(0.7655110916582368 0.16470601574762447 33.504302783436955);
    --orange-500: oklch(0.8208515832817938 0.16470601574762447 33.504302783436955);
    --orange-600: oklch(0.8759642535705017 0.16470601574762447 33.504302783436955);
    --orange-700: oklch(0.9298446887728768 0.16470601574762447 33.504302783436955);
    --orange-800: oklch(0.9837151361374732 0.16470601574762447 33.504302783436955);
    --orange-900: oklch(1.0378676007738372 0.16470601574762447 33.504302783436955);
    --orange-1000: oklch(1.0899939056802899 0.16470601574762447 33.504302783436955);
    --orange-1100: oklch(1.141378529524066 0.16470601574762447 33.504302783436955);
    --orange-1200: oklch(1.1872908055550053 0.16470601574762447 33.504302783436955);
    --orange-1300: oklch(1.2293141477751803 0.16470601574762447 33.504302783436955);

    --sand-100: oklch(0.25910239635152055 0.04326869819368515 82.45271781588256);
    --sand-200: oklch(0.297089639984659 0.04326869819368515 82.45271781588256);
    --sand-300: oklch(0.346399005707837 0.04326869819368515 82.45271781588256);
    --sand-400: oklch(0.39756961716266026 0.04326869819368515 82.45271781588256);
    --sand-500: oklch(0.4529101087862172 0.04326869819368515 82.45271781588256);
    --sand-600: oklch(0.5080227790749251 0.04326869819368515 82.45271781588256);
    --sand-700: oklch(0.5619032142773002 0.04326869819368515 82.45271781588256);
    --sand-800: oklch(0.6157736616418966 0.04326869819368515 82.45271781588256);
    --sand-900: oklch(0.6699261262782606 0.04326869819368515 82.45271781588256);
    --sand-10000: oklch(0.7220524311847132 0.04326869819368515 82.45271781588256);
    --sand-11000: oklch(0.7734370550284893 0.04326869819368515 82.45271781588256);
    --sand-12000: oklch(0.8193493310594286 0.04326869819368515 82.45271781588256);
    --sand-13000: oklch(0.8613726732796037 0.04326869819368515 82.45271781588256);

    font-size: 36px;
    /* 1em = 16px
   font-size: 16px; */

  --camina-color-background-100: var(--orange-100);
  --camina-color-background-200: var(--orange-200);
  --camina-color-background-300: var(--orange-300);
  --camina-color-background-400: var(--orange-400);
  --camina-color-background-500: var(--orange-500);
  --camina-color-background-600: var(--orange-600);
  --camina-color-background-700: var(--orange-700);
  --camina-color-background-800: var(--orange-800);
  --camina-color-background-900: var(--orange-900);
}

* {
    font-family: 'JetBrains Mono', monospace;
    --camina-font-face: 'JetBrains Mono', monospace;
}
