.camina-text {
  --camina-text-font-family: var(--camina-font-family);
  --camina-text-size-xxxxs: 10px;
  --camina-text-size-xxxs: 12px;
  --camina-text-size-xxs: 14px;
  --camina-text-size-xs: 16px;
  --camina-text-size-s: 18px;
  --camina-text-size-m: 24px;
  --camina-text-size-l: 28px;
  --camina-text-size-xl: 32px;
  --camina-text-size-xxl: 42px;
  --camina-text-size-xxxl: 68px;
  --camina-text-weight-regular: 400;
  --camina-text-weight-semibold: 400;
  --camina-text-weight-bold: 700;
  --camina-text-color: var(--camina-color-background-900);
  --camina-text-size: var(--camina-text-size-s);
  --camina-text-line-height: calc(var(--camina-text-size) * 1.5);
  --camina-text-weight: var(--camina-text-weight-regular);

  font-family: var(--camina-text-font-family);
  font-size: var(--camina-text-size);
  font-weight: var(--camina-text-weight);
  color: var(--camina-text-color);
  line-height: var(--camina-text-line-height);
  margin-top: calc(var(--camina-text-size) * .75);
  margin-bottom: calc(var(--camina-text-size) * .75);

  &-heading {
    --camina-text-heading-color: var(--camina-text-color);
    --camina-text-heading-line-height: calc(var(--camina-text-heading-size) * 1.3);

    font-size: var(--camina-text-heading-size);
    font-weight: var(--camina-text-heading-weight);
    color: var(--camina-text-heading-color);
    line-height: var(--camina-text-heading-line-height);
    margin-top: calc(var(--camina-text-heading-size) / 1.125);
    margin-bottom: calc(var(--camina-text-heading-size) * .25);

    &-xxxxs {
      --camina-text-heading-size: var(--camina-text-size-xxxxs);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-xxxs {
      --camina-text-heading-size: var(--camina-text-size-xxxs);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-xxs {
      --camina-text-heading-size: var(--camina-text-size-xxs);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-xs {
      --camina-text-heading-size: var(--camina-text-size-xs);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-s {
      --camina-text-heading-size: var(--camina-text-size-s);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-semibold {
        --camina-text-heading-weight: var(--camina-text-weight-semibold);
      }

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-m {
      --camina-text-heading-size: var(--camina-text-size-m);
      --camina-text-heading-weight: var(--camina-text-weight-regular);

      &-semibold {
        --camina-text-heading-weight: var(--camina-text-weight-semibold);
      }

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-l {
      --camina-text-heading-size: var(--camina-text-size-l);
      --camina-text-heading-weight: var(--camina-text-weight-semibold);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-xl {
      --camina-text-heading-size: var(--camina-text-size-xl);
      --camina-text-heading-weight: var(--camina-text-weight-semibold);

      &-bold {
        --camina-text-heading-weight: var(--camina-text-weight-bold);
      }
    }

    &-xxl {
      --camina-text-heading-size: var(--camina-text-size-xxl);
      --camina-text-heading-weight: var(--camina-text-weight-bold);
    }

    &-xxxl {
      --camina-text-heading-size: var(--camina-text-size-xxxl);
      --camina-text-heading-weight: var(--camina-text-weight-bold);
    }
  }
}
